<div class="container content">

   <div class="page-header">
     <div class="container">
        <h1>Ruteo Simple</h1>

     </div>
   </div>


    <div class="row">
      <h1>
        {{title}}
      </h1>
    </div>

<app-lista-destino></app-lista-destino>

  </div>

  <hr class="mb-5">
  Fecha {{ time| async }}
